In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data=pd.read_csv('iris.csv')

In [3]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [4]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:



a = data["SepalLengthCm"].mean()

# Find rows with sepal length below the average
b = data[data["SepalLengthCm"] < a]

# Display the resulting rows
print("Rows with Sepal Length Below Average:")
print(b)

Rows with Sepal Length Below Average:
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
106  107            4.9           2.5            4.5           1.7
113  114            5.7           2.5            5.0           2.0
114  115            5.8           2.8            5.1           2.4
121  122            5.6           2.8            4.9           2.0
142  143            5.8           2.7            5.1           1.9

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
106  Iris-virginica
113  Iris-virginica
114  Iris-virginica
121  Iris-virginica
142  Iris-virginica

[80 rows x 6 columns]